@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-text: #ffffff;
  --ui-primary: #0095FF;
  --ui-bg: #08090A;
  --ui-text-inverted: white;

  --ui-header-height: 112px;

  /**
   * 1820 + 50 с каждого края
   */
  --ui-container: 1920px;

  ---tw-drop-shadow-color: #ffffff;
}

@theme static {
  --font-sans: 'Gilroy', sans-serif;
}
